@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<div>@ViewBag.MensajeLog</div>
<br />
@Messages.AlertMessages()
<p>
    <a href="#" onclick="cibertec.getModal('@Url.Action("Create")'); return false;" data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"> Nuevo</span>
    </a>
</p>

<div class="pagination"></div>
<div class="content"></div>
<div class="pagination"></div>

@*@Html.Partial("_List")*@
@Modal.GetModal("Customer", "customer.closeModal();")
<script src="~/Scripts/paginacion.js" type="text/javascript"></script>
<script src="~/App/cibertec.js" type="text/javascript"></script>
<script src="~/App/customer.js" type="text/javascript"></script>

<script src="~/Scripts/jquery.signalR-2.4.3.js" type="text/javascript"></script>
<script src="/signalr/hubs"></script>
<script>

    $(function () {
        var jCustomerHub = $.connection.customerHub;
        $.connection.hub.start().done(function () {
            console.log("Conectado al hub...");
        });
    });

</script>
