@model IEnumerable<Cibertec.Models.Customers>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <h1>@ViewBag.dato - @ViewBag.ModelName</h1>;
    <table class="table-bordered table-info">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Country)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@Html.DisplayFor(modelItem => item.Country)</th>
            </tr>
        }
    </table>
    <div>
    </div>
</body>
</html>
