
@mixin break-point($breackpoint) {
    $bp-xs: "(max-width:420px)";
    $bp-sm: "(min-width:420px)";
    $bp-md: "(min-width:768px)";
    $bp-lg: "(min-width:1024px)";
    $bp-xl: "(min-width:1280px)";
    $bp-xxl: "(max-width:1900px)";

    @if $breackpoint == xs {
        @media #{$bp-xs} {
            @content;
        }
    }
    @else if $breackpoint == sm {
        @media #{$bp-sm} {
            @content;
        }
    }
    @else if $breackpoint == md {
        @media #{$bp-md} {
            @content;
        }
    }
    @else if $breackpoint == lg {
        @media #{$bp-lg} {
            @content;
        }
    }
    @else if $breackpoint == xl {
        @media #{$bp-xl} {
            @content;
        }
    }
    @else if $breackpoint == xxl {
        @media #{$bp-xxl} {
            @content;
        }
    }
}
